.impressions-margin {
  margin-top: 8vh;
}

.impressions-table {
  display: table;
  width: 63vw;
}

.impressions-table-row {
  display: table-row;
}

.impressions-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.impressions-main-date-font-size {
  font-size: 3vw;
}

.impressions-side-date-font-size {
  font-size: 2vw;
}

button {
  background: none;
}

button:hover {
  color: #e5da9c;
  text-decoration: underline;
}