.sub-font-size {
  font-size: 3vw;
}

.login-margin-bottom {
  margin-bottom: 20%;
}

.login-text-margin {
  margin-top: 8vh;
}

.login-button-margin {
  margin-top: 5vh;
}

.login-text-right {
  text-align: right;
}

a:hover {
  color: #e5da9c
}

/* @media screen and (max-width: 720px) {
  .login-text-right {
    text-align: left;
  }
} */