* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
  padding: 2% 2% 2% 2%;
  font-family: 'Roboto Slab', sans-serif;
  background: #f5f5f5;
  color: #1A6340;
}

.div-center {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
}

.main-font-color {
  color: #1A6340;
}

.heading-font-size {
  font-size: 6vw;
}

.footer-font-size {
  font-size: 24px;
}